<div class="container">
    <a class="navbar-brand" href="index.html"><span class="flaticon-pawprint-1 mr-2"></span>Furry Friend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="l1"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item" id="l2"><a href="about.html" class="nav-link">About</a></li>
            <li class="nav-item" id="l3"><a href="diary.html" class="nav-link">Diary</a></li>
            <li class="nav-item" id="l4"><a href="medical-record.html" class="nav-link">Medical Record</a></li>
            <li class="nav-item" id="l5"><a href="calendar.html" class="nav-link">Calendar</a></li>
            <li class="nav-item" id="l6"><a href="sign.html" class="nav-link">Login</a></li>
            <li class="nav-item" id="l7"><a href="sign.html" class="nav-link">Logout</a></li>
            <li class="nav-item" id="l8"><a href="mypage.html" class="nav-link">My Page</a></li>
        </ul>
    </div>
</div>